header {
    height: 50px;
    background-color: #EEEEEE;
}

h1 {
    text-align: center;
    border-bottom: solid 1px gainsboro;
}

.main {
    width: 600px;
    margin: 10px auto;
    padding: 50px;
    border: solid 1px gray;
    border-radius: 1rem;
}

table td {
    padding: 10px;
}

.table-right {
    text-align: right;
    background-color: #EEEEEE;
}

button {
    margin: 10px;
}

.validation_error {
    color: red;
}

input.check {
    transform: scale(1.5);
}