header {
    height: 50px;
    background-color: #EEEEEE;
}

.time_records {
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    overflow: scroll;
}

td {
    padding: 2px;
}

.in {
    background-color: #CBFFD3;
}